@charset "UTF-8";
.auto {
  display: block;
  margin: 0 auto;
}

.to-fadeUp {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.to-fadeLeft {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.page3 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1.35417vw 0;
  box-sizing: border-box;
  overflow: hidden;
}

.page3 .type-list-box {
  height: 31.25vw;
  /* min-width: 1300px; */
  padding-top: 3.125vw;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.page3 .type-list-box .leftbar {
  transform: translateX(2.34375vw);
}

.page3 .type-list-box .leftbar,
.page3 .type-list-box .rightbar {
  flex: 0 0 40%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 40%;
  flex-direction: row-reverse;
}

.page3 .type-list-box .leftbar > div,
.page3 .type-list-box .rightbar > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0;
}

.page3 .type-list-box .leftbar > div:hover,
.page3 .type-list-box .rightbar > div:hover {
  z-index: 9999;
}

.page3 .type-list-box .leftbar > div .item,
.page3 .type-list-box .rightbar > div .item {
  transition: all 0.2s;
}

.page3 .type-list-box .leftbar > div .item:hover,
.page3 .type-list-box .rightbar > div .item:hover {
  background-image: url("../image/item-bg-active.png");
  transform: scale(1.5);
  z-index: 10;
  position: relative;
}

.page3 .type-list-box .leftbar > div .item:hover > div,
.page3 .type-list-box .rightbar > div .item:hover > div {
  transform: scale(0.7);
}

.page3 .type-list-box .leftbar > div .item:hover h4,
.page3 .type-list-box .leftbar > div .item:hover h5,
.page3 .type-list-box .leftbar > div .item:hover p,
.page3 .type-list-box .rightbar > div .item:hover h4,
.page3 .type-list-box .rightbar > div .item:hover h5,
.page3 .type-list-box .rightbar > div .item:hover p {
  color: #fff !important;
  opacity: 1 !important;
}

.page3 .type-list-box .leftbar > div .item:hover h4,
.page3 .type-list-box .rightbar > div .item:hover h4 {
  border-bottom-color: #fff;
  white-space: normal;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.page3 .type-list-box .leftbar > div:nth-of-type(1),
.page3 .type-list-box .rightbar > div:nth-of-type(1) {
  position: relative;
  left: 0;
}

.page3 .type-list-box .leftbar > div:nth-of-type(1) h4,
.page3 .type-list-box .leftbar > div:nth-of-type(1) h5,
.page3 .type-list-box .rightbar > div:nth-of-type(1) h4,
.page3 .type-list-box .rightbar > div:nth-of-type(1) h5 {
  color: #292929 !important;
  opacity: 1;
}

.page3 .type-list-box .leftbar > div:nth-of-type(2),
.page3 .type-list-box .rightbar > div:nth-of-type(2) {
  position: relative;
  transform: scale(0.9);
  left: 2.70833vw;
}

.page3 .type-list-box .leftbar > div:nth-of-type(2) .item:nth-of-type(2) h4,
.page3 .type-list-box .leftbar > div:nth-of-type(2) .item:nth-of-type(2) h5,
.page3 .type-list-box .rightbar > div:nth-of-type(2) .item:nth-of-type(2) h4,
.page3 .type-list-box .rightbar > div:nth-of-type(2) .item:nth-of-type(2) h5 {
  color: #292929;
  opacity: 0.7;
}

.page3 .type-list-box .leftbar > div:nth-of-type(3),
.page3 .type-list-box .rightbar > div:nth-of-type(3) {
  position: relative;
  left: 6.14583vw;
  transform: scale(0.8);
}

.page3 .type-list-box .leftbar > div:nth-of-type(4),
.page3 .type-list-box .rightbar > div:nth-of-type(4) {
  position: relative;
  transform: scale(0.7);
  left: 10vw;
}

.page3 .type-list-box .leftbar > div:nth-of-type(5),
.page3 .type-list-box .rightbar > div:nth-of-type(5) {
  position: relative;
  transform: scale(0.6);
  left: 14.6875vw;
}

.page3 .type-list-box .leftbar > div:nth-of-type(6),
.page3 .type-list-box .rightbar > div:nth-of-type(6) {
  position: relative;
  transform: scale(0.5);
  left: 20.41667vw;
}

.page3 .type-list-box .leftbar > div .item,
.page3 .type-list-box .rightbar > div .item {
  text-align: center;
  background-image: url("../image/item-bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 9.375vw;
  height: 9.375vw;
  padding: 1.5625vw 0.78125vw 2.34375vw;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.page3 .type-list-box .leftbar > div .item > div,
.page3 .type-list-box .rightbar > div .item > div {
  margin-top: 0.41667vw;
}

.page3 .type-list-box .leftbar > div .item:not(:first-child),
.page3 .type-list-box .rightbar > div .item:not(:first-child) {
  margin-top: -1.5625vw;
}

.page3 .type-list-box .leftbar > div .item h4,
.page3 .type-list-box .rightbar > div .item h4 {
  display: inline-block;
  color: #bdbebf;
  font-size: 1.04167vw;
  margin-bottom: 0.3125vw;
  font-weight: 500;
  margin-bottom: 0.52083vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75%;
  left: 0;
  right: 0;
}

.page3 .type-list-box .leftbar > div .item h4 + p,
.page3 .type-list-box .rightbar > div .item h4 + p {
  border-top: 2px solid #bdbebf;
  width: 100%;
  transform: scaleX(0.8);
  transform-origin: center center;
  padding-top: 5px;
  /*  &:before{
              content:'';
              display: block;
     
              position:absolute;
              top:0;
              width:100%;
              height:2px;
              left:0;
              transform:scaleX(.9);
              transform-origin: center center;
              margin-left:-10%;
              background-color:#bdbebf;
            } */
}

.page3 .type-list-box .leftbar > div .item h4.linet,
.page3 .type-list-box .rightbar > div .item h4.linet {
  color: #292929;
  border-bottom-color: #292929;
}

.page3 .type-list-box .leftbar > div .item h5,
.page3 .type-list-box .rightbar > div .item h5 {
  font-weight: 500;
  color: #bdbebf;
  font-size: 0.98958vw;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75%;
}

.page3 .type-list-box .leftbar > div .item h5.linet,
.page3 .type-list-box .rightbar > div .item h5.linet {
  color: #292929;
}

.page3 .type-list-box .leftbar > div .item p,
.page3 .type-list-box .rightbar > div .item p {
  color: #bdbebf;
  font-size: 0.67708vw;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page3 .type-list-box .rightbar {
  justify-content: flex-start;
  flex-direction: row;
  transform: translateX(-1.82292vw);
}

.page3 .type-list-box .rightbar > div:nth-of-type(1) {
  position: relative;
  left: 0;
}

.page3 .type-list-box .rightbar > div:nth-of-type(2) {
  position: relative;
  transform: scale(0.9);
  left: -2.70833vw;
}

.page3 .type-list-box .rightbar > div:nth-of-type(3) {
  position: relative;
  left: -6.14583vw;
  transform: scale(0.8);
}

.page3 .type-list-box .rightbar > div:nth-of-type(4) {
  position: relative;
  transform: scale(0.7);
  left: -10vw;
}

.page3 .type-list-box .rightbar > div:nth-of-type(5) {
  position: relative;
  transform: scale(0.6);
  left: -14.6875vw;
}

.page3 .type-list-box .rightbar > div:nth-of-type(6) {
  position: relative;
  transform: scale(0.5);
  left: -20.41667vw;
}

.page3 .type-list-box .middlebar {
  flex: 0 0 15%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
}

.page3 .type-list-box .middlebar > .item {
  flex: 1;
  width: 100%;
  /*  height: 360px / $vw * 1vw; */
  background: url("../image/item-bg-full.png") no-repeat;
  background-position: center center;
  background-size: 110% auto;
  padding: 6.25vw 1.5625vw;
  box-sizing: border-box;
}

.page3 .type-list-box .middlebar > .item h5 {
  font-size: 1.25vw;
  color: #f8f9fb;
  line-height: 1.5;
  text-align: center;
}

.page3 h3 {
  height: 13.6419vh;
  background-image: url("../image/page3_eng_title.png");
  background-repeat: no-repeat;
  background-size: auto 7.06456vh;
  color: #292929;
  font-size: 5.48112vh;
  font-family: "黑体";
  text-align: left;
  padding-top: 5.23752vh;
  padding-bottom: 2.43605vh;
  margin-left: 5.23752vh;
  box-sizing: border-box;
  position: relative;
}

.page3 h3:after, .page3 h3:before {
  content: "";
  display: block;
  background-color: #f16a14;
  height: 0.85262vh;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
}

.page3 h3::after {
  width: 9.98782vh;
  left: 0;
}

.page3 h3::before {
  width: 2.67966vh;
  left: 11.44945vh;
}

.page3 h3.isen {
  background-image: none;
  height: auto;
  padding-top: 0;
}

.page3 .btn-group {
  text-align: center;
}

.page3 .btn-group .more {
  display: inline-block;
  position: relative;
  left: -30px;
  width: 32.27771vh;
  height: 6.57734vh;
  border: 1px solid #8d8b8b;
  color: #8d8b8b;
  text-decoration: none;
  text-align: center;
  line-height: 6.57734vh;
  border-radius: 0.73082vh;
  background-color: transparent;
}

.count {
  color: #4694d6;
}

.num-2_ttle{
	display:block;
	width: 60%;
	text-align: right;
}