.page5{
    min-width: 1200px;
    height: 100%;
    /* background-image: url(../image/page6-bg.jpg); */
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.page5_top_title{
    /* padding: 3.16687vh 4.87211vh; */
    padding-top: 3.16687vh;
    padding-left: 4.87211vh;


    
}
.page5_title_text{
    height: 13.6419vh;
    background-image: url('../image/page5_eng_title.png');
    background-size: auto 7.06456vh;
    color: rgb(41, 41, 41);
    font-size: 5.48112vh;
    font-family: 黑体;
    text-align: left;
    padding-top: 5.23752vh;
    padding-bottom: 2.43605vh;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    font-weight: bold;

    
}
.page5_title_text::after{
    width: 9.98782vh;
    height: 0.85262vh;
    content: "";
    display: block;
    background-color: #f16a14;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    height: 0.85262vh;
}
.page5_title_text::before{
    content: '';
    width: 2.67966vh;
    height: 0.85262vh;


    display: block;
    background-color: #f16a14;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 11.44945vh;


    
}
.page5_main{
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
    width: 1326px;
    margin: 17.05238vh auto 7.30816vh;
}
.page5_main_item{
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    text-align: center;
}
.page5_main_item .item_img{
    /* width: 12vw; */
    height: 240px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

.item_bottom{
    position: relative;
    color: #2f2f2e;
    font-size: 2.19245vh;
    line-height: 6.09013vh;
}
.page_module_text{
    width: 100%;
    text-align: center;
    color: #2f2f2e;
    font-size: 2.19245vh;
    line-height: 6.09013vh;
    height: 6.09013vh;
    display: inline-block;
 
}

.choice{
    position: absolute;
    top: 0.8vh;
    right: 0.8vw;
    width: 3vh;
}
.item_success{

    width: 100%;
    height: 100%;
}
.download_module_wrap{
    margin: 0 auto;
}
.download_module{
    display: inline-block;
    width: 32.27771vh;
    height: 6.57734vh;
    border: 1px solid #8d8b8b;
    color: #8d8b8b;
    text-decoration: none;
    text-align: center;
    line-height: 6.57734vh;
    border-radius: .73082vh;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.85vw;
}

i{
    display: block !important;
    font-size: 20px;
    color: #f17100;
}

